accelerate==1.10.1
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
nltk==3.9.1
numpy==1.24.4
pandas==2.3.2
pillow==10.4.0
regex==2024.7.24
safetensors==0.4.5
scikit-learn==1.5.1
scipy==1.15.3
sentence-transformers==5.1.0
sentencepiece==0.2.0
spacy==3.8.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tf2onnx==1.16.1
torch==2.6.0+cu124
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.6.0+cu124
torchmetrics==1.4.1
torchvision==0.21.0+cu124
tqdm==4.66.5
transformers==4.24.0
urllib3==1.26.15
